@import "vars.css";
@import "inputs.css";
@import "classes.css";

html {
    background: linear-gradient(#ee8c3b, #d83b2f);
    background-size: 100vw max(100%, 100vh);
    font-size: min(40px, 6vw);
    font-family: "Arial", sans-serif;
    color: white;
}

h1,
h2 {
    text-align: center;
    font-weight: bold;
    text-shadow: var(--shadow);
}

h1 {
    font-size: min(100px, 10vw);
}

h2 {
    font-size: min(50px, 5vw);
}

a {
    color: white;
}

small {
    font-size: 20px;
}