:root {
    --shadow: 5px 5px 5px rgba(0, 0, 0, 30%)
}

html {
    background: linear-gradient(#ee8c3b, #d83b2f);
    background-size: 100vw 100vh;
    font-size: 40px;
    font-family: "Arial", sans-serif;
    color: white;
}

h1 {
    text-align: center;
    font-size: min(100px, 10vw);
    font-weight: bold;
    text-shadow: var(--shadow);
}

small {
    font-size: 20px;
}

input,
button {
    text-align: center;
    font-size: min(50px, 7.5vw);

    height: min(75px, 15vw);
    margin: 5px;
    box-shadow: var(--shadow);

    border-style: none;
    border-radius: 10px;
}

input {
    width: min(25ch, 50vw);
}

input:focus {
    outline-style: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 40%)
}

button {
    padding: 0px min(30px, 5vw);

    background: black;
    color: white;
}

.centered {
    display: block;
    text-align: center;
    margin: auto;
}

.stats {
    margin: 5vh;
    padding: 10vh;
    background: rgba(0, 0, 0, 20%);
    border-radius: 10px;
}